<div class="container">

  <div>
    <img src="<%= @user.gravatar_url %>" alt="Profile Image">
    <h2><%= @user.name %></h2>
    <p>Username: <%= @user.username %></p>
    <p>Email: <%= @user.email %></p>
  </div>

  <div>
    <% if @user.posts.empty? %>
      <p>Write your first post!</p>
    <% else %>
      <% @user.posts.each do |post| %>
        <div>
          <a href="/posts/<%= post.id %>"><h3><%= post.title %></h3></a>
        <small><%= post.created_at.strftime("%B %d, %Y") %></small>
      <hr>
    </div>
    <% end %>
    <% end %>
  </div>
</div>